<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>JafarSadig V1.0</title>
	<!-- CSS kodları -->
	<style>
		table {
			margin: 0 auto;
			font-size: large;
			border: 1px solid black;
		}

		h1 {
			text-align: center;
			color: #006600;
			font-size: xx-large;
			font-family: 'Gill Sans', 'Gill Sans MT',
			' Calibri', 'Trebuchet MS', 'sans-serif';
		}

		td {
			background-color: #E4F5D4;
			border: 1px solid black;
		}

		th,
		td {
			font-weight: bold;
			border: 1px solid black;
			padding: 10px;
			text-align: center;
		}

		td {
			font-weight: lighter;
		}
	</style>
</head>

<body>
	<section>
		<h1>{{ students.0.sinif }} sinif</h1>
		<!-- Cədvəl konstruksiyası -->
		<table>
			<tr>
				<th rowspan="2">Sıra No</th>
				<th rowspan="2">Adı</th>
				<th rowspan="2">Soyadı</th>
                <th rowspan="2">Sinif</th>
                <th colspan="3">Xarici dil</th>
                <th colspan="3">Azərbaycan dili</th>
                <th colspan="4">Riyaziyyat</th>
                <th rowspan="2">Cəmi</th>
			</tr>
            <tr>
                <th>Qapalı Düz</th>
                <th>Açıq Düz</th>
                <th>Cəm</th>
                <th>Qapalı Düz</th>
                <th>Açıq Düz</th>
                <th>Cəm</th>
                <th>Qapalı Düz</th>
                <th>Kodlaşdırılan</th>
                <th>Açıq Düz</th>
                <th>Cəm</th>
            </tr>
			
			<tr>
				<!-- Hər sütün üçün alınan məlumatlar -->
                {% for student in students %}
                    <th>{{ forloop.counter }}</th>
                    <th>{{ student.aad }}</th>
                    <th>{{ student.soyad }}</th>
                    <th>{{ student.sinif }}</th>
                    <th>{{ student.f1_d_q }}</th>
                    <th>{{ student.f1_d_a }}</th>
                    <th>{{ student.f1_cem }}</th>
                    <th>{{ student.f2_d_q }}</th>
                    <th>{{ student.f2_d_a }}</th>
                    <th>{{ student.f2_cem }}</th>
                    <th>{{ student.f3_d_q }}</th>
                    <th>{{ student.f3_d_k }}</th>
                    <th>{{ student.f3_d_a }}</th>
                    <th>{{ student.f3_cem }}</th>
                    <th>{{ student.cem }}</th>
			</tr>
                {% endfor %}

		</table>
	</section>
</body>

</html>