{% extends 'base.html' %}

{% load static %}

{% block title %} Xidmətlərimiz {% endblock %}

{% block content %}

	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Xidmətlərimiz</h2>
				</div>
			</div>
			<div class="row">
				{% for kurslars in kurslar %}
					{% if kurslars.is_active %}
						<div class="col-md-6 animate-box">
							<div class="course">
								<a class="course-img" style="background-image: url({{ kurslars.sekil.url }});"></a>
								<div class="desc">
									<h3>{{kurslars.kurs_adi}}</h3>
									<p></p>
									<span><a href="{% url 'kurs_details' kurslars.slug %}" class="btn btn-primary btn-sm btn-course">Daha ətraflı</a></span>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}